overallBossResults/
results/
transformed_data.csv
catboost_info/
Digraph.gv
kt_search_dir/
chromedriver.exe
overallBossResultsWTimings/
classTimings/
transformed_data_w_timings.csv
transformed_data_w_timings_v2.csv
transformed_data_w_timings_v3.csv
all_dropped_rows.csv
classTimingsFull
scraped_filepaths.csv
db_cache/
test_output/
extracted_data/
.env
scraped_professors.csv
ai_professor_lookup_table.csv
updated_professor_lookup_table*
smu*
new*
consolidated*
professor*
course_bid_tuning/
V4_01_selenium_BossResults copy.ipynb
script_input/
script_output/